#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!Xcursor.theme: cursor-theme
Xcursor.size: 16


! this is our base colorscheme
#include ".config/xschemes/nord"

#if __has_include(".cache/wal/colors.Xresources")
#    include ".cache/wal/colors.Xresources"
#endif

#include ".config/urxvt/config"

#if __has_include(".config/zutty/config")
#    include ".config/zutty/config"
#endif

#if __has_include(".config/xst/config")
#    include ".config/xst/config"
#endif

#if __has_include(".config/rofi/config")
#    include ".config/rofi/config"
#endif
