!Xcursor.theme: cursor-theme
Xcursor.size: 16


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

#include ".config/xschemes/nord"
!#include ".config/xschemes/doom"

#if __has_include(".cache/wal/colors.Xresources")
#    include ".cache/wal/colors.Xresources"
#endif

#include ".config/urxvt/config"

#if __has_include(".config/rofi/config")
#    include ".config/rofi/config"
#endif

